<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="http://www.google.lt" class="navbar-brand">Google.lt</a>
    </div>

    <ul class="navbar-nav">
      <li>
        <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/vardas" class="nav-link">Namai</a>
      </li>
      <li>
        <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Uzduotys</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Prisijungti</a>
      </li>
      <li>
        <a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/loggout" class="nav-link">Atsijungti</a>
      </li>
    </ul>
  </nav>
</header>
