<h1>Mano Uzduociu sarasas</h1>

<div class="alert alert-succes" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Nr</th>
      <th>Aprasymas</th>
      <th>Numatyta data</th>
      <th>Ar baigta?</th>
      <th>Atnaujinti</th>
      <th>Istrinti</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Atnaujinti</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Istrinti</button></td>
    </tr>
    </tbody>
  </table>
</div>
