<h1>Sveiki</h1>
<div class="container">
  Sveiki uzsuke {{name}}, i mano tiklalapi.<br>
  uzduociu sarasa rasite cia <a routerLink="/todos">sarasas</a>
</div>

<div class="container">
  Paspauskite cia, ir gausite Pakoreguota zinute
  <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Gauti zinute</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Jusu zinute</h2>
  {{welcomeMessageFromService}}
</div>
