<h1>Todo</h1>
<div class="container">

  <fieldset class="form-group">
    <label>Aprasymas</label>
    <input type="text" class="form-control" name="description" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Nustatyti data</label>
  <input type="date" class="form-control" name="targetDate" required="required">
  </fieldset>

  <button class="btn btn-success"(click)="saveTodo()">Issaugoti</button>
</div>
